* {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    text-align: center;
    background: #ffd273;
    font-family: sans-serif;
    font-weight: 100;
    position: relative;
}

.main-title {
    color: #DC4B36;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0 30px;
}

.countdown {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.countdown-title {
    color: #DC4B36;
    font-weight: 100;
    font-size: 1em;
    margin: 30px 0 10px;
}

.countdown-numbers {
    display: flex;
}

.countdown-number {
    margin: 0 2px 2px;
    background: #4A4E35;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

.countdown-time {
    background: #5D604B;
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}

.images {
    height: 100%;
    bottom: 0;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    display: flex;
}

.image-container {
    height: 100%;
}

.body__image-container {
    position: absolute;
    z-index: -1;
}

.body__image-container_one {
    left: 0;
    bottom: 0;
}

.body__image-container_second {
    right: 0;
    bottom: 0;
    transform: scale(-1, 1);
}

.image {
    position: absolute;
    height: 50%;
    bottom: 0;
    object-fit: cover;
}

@media screen and (max-width: 480px) {
  .image {
      height: 35%;
      transition: height 0.3s linear;
  }
}

@media screen and (min-width: 481px) and (max-width: 1000px) {
    .image {
        height: 45%;
        transition: height 0.3s linear;
    }
}
